.container {
  max-width: 600px !important;
  margin-top: 30px;
}
.counter {
  margin-top: 15px;
  font-size: 14px;;
}
.user_list {
  margin-top: 10px;
}
.list_box {
  margin: -1px 0 0;
  border: 1px solid #dcdcdc;
  padding: 5px 5px 5px 15px;
}
.list_box:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.list_box:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.list_group {
  display: flex;
  align-items: center;
}
.list_group .user {
  flex: 1;
}
.list_group button {
  margin-left: 5px;
}
.modify_user {
  margin-top: 10px;
  margin-bottom: 5px;
}